
/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
a {
  color: #ff4dff;
}
a:hover {
  color: #47e8ff;
}
h1, h2, h3, h4, h5, h6,span,ul,li {
  color: #ff4dff;
}
p {
  color: #fcfcfc;
}
.scrollToTop {
  background-color: #ff4dff;
  border: 2px solid #ff4dff;
}

.mu-default-btn:hover, .mu-default-btn:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}

.mu-post-btn:hover, .mu-post-btn:focus {
  background-color: #ff4dff;
  border-color: #47e8ff;
}

#mu-menu .navbar-header .navbar-brand i {
  color: #ff4dff;
}

#mu-menu .navbar-default .navbar-nav li > a:hover, #mu-menu .navbar-default .navbar-nav li > a:focus {
  border-color: #47e8ff;
  color: #47e8ff;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-top: 2px solid #47e8ff;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  background-color: transparent;
}
#mu-menu .navbar-default .navbar-nav .open a:hover, #mu-menu .navbar-default .navbar-nav .open a:focus {
  background-color: #ff4dff;
}

#mu-menu .navbar-default .navbar-nav > .active > a, #mu-menu .navbar-default .navbar-nav > .active > a:hover, #mu-menu .navbar-default .navbar-nav > .active > a:focus {
  color: #47e8ff;
  border-bottom: 2px solid #47e8ff;
  background-color: transparent;
}

#mu-slider .mu-slider-single .mu-slider-content span {
  background-color: #47e8ff;
}
#mu-slider .mu-slider-single .mu-slider-content h4, #mu-slider .mu-slider-single .mu-slider-content h2, #mu-slider .mu-slider-single .mu-slider-content p {
  color: #fcfcfc;
}
#mu-slider .slick-prev,
#mu-slider .slick-next {
  background-color: #ff4dff;
}
#mu-about-us .mu-about-us-area .mu-about-us-left p {
  color: #fcfcfc;
}
#mu-about-us .mu-about-us-area .mu-about-us-left ul li {
  color: #fcfcfc;
}
.mu-title h2{
  color: #fcfcfc;
}
#mu-abtlast-counter{
  border-top: 3px solid #47e8ff;
  border-bottom: 3px solid #47e8ff;
}
#mu-abtlast-counter .mu-abtlast-counter-area .mu-abtlast-counter-Title h3{
  color: #fcfcfc;
}
#mu-abtlast-counter .mu-abtlast-counter-area .mu-abtlast-counter-single {
  border-right: 3px solid #47e8ff;
}
#mu-abtlast-counter .mu-abtlast-counter-area .mu-abtlast-counter-single span, #mu-abtlast-counter .mu-abtlast-counter-area .mu-abtlast-counter-single h4, #mu-abtlast-counter .mu-abtlast-counter-area .mu-abtlast-counter-single p{
  color: #fcfcfc;
}
#mu-rule .mu-rule-tab-bar{
  background-color: #1d1544;
}
#mu-rule .mu-rule-tab-bar button {
  color: #ff4dff;
}
#mu-rule .mu-rule-tab-bar button:hover, #mu-rule .mu-rule-tab-bar button.active{
  border-color: #47e8ff;
  color: #47e8ff;
}
#mu-rule .mu-rule-content{
  border: 3px solid #47e8ff;
}
#mu-rule .mu-rule-content .mu-rule-tabcontent h2, #mu-rule .mu-rule-content .mu-rule-tabcontent .mu-single-rule ul, #mu-rule .mu-rule-content .mu-rule-tabcontent .mu-single-rule li{
  color: #fcfcfc;
}
#mu-progress .mu-progress-tab-bar{
  background-color: #1d1544;
}
#mu-progress .mu-progress-tab-bar button {
  color: #ff4dff;
}
#mu-progress .mu-progress-tab-bar button:hover, #mu-progress .mu-progress-tab-bar button.active{
  border-color: #47e8ff;
  color: #47e8ff;
}
#mu-progress .mu-progress-content{
  border: 3px solid #47e8ff;
}
#mu-progress .mu-progress-content .mu-progress-recent{
  border: 3px solid #47e8ff;
}
#mu-progress .mu-progress-content .mu-progress-recent .mu-progress-single-match{
  border-top: 1px solid #272A33;
  border-bottom:  1px solid #272A33
}
#mu-progress .mu-progress-content .mu-progress-recent .mu-progress-single-match p, #mu-progress .mu-progress-content .mu-progress-recent .mu-progress-single-match a{
  color: #fcfcfc;
}
#mu-progress .mu-progress-content .mu-progress-recent .mu-progress-single-match a:hover{
  color:#ff4dff;
}
#mu-contact-us .mu-contact-us-area h1, #mu-contact-us .mu-contact-us-area h2, #mu-contact-us .mu-contact-us-area p{
  color: #fcfcfc;
}
#mu-contact-us .mu-contact-us-area {
  border: 3px solid #47e8ff;
}
#mu-error .mu-error-area h2 {
  color: #ff4dff;
}
#mu-price .mu-price-area{
  border: 3px solid #47e8ff;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:hover, #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:focus {
  color: #ff4dff;
}

#mu-divider{
  background-color: #47e8ff;
}
