
/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
a {
  color: #ff4dff;
}
h1, h2, h3, h4, h5, h6,span {
  color: #ff4dff;
}
p {
  color: #fcfcfc;
}
.scrollToTop {
  background-color: #ff4dff;
  border: 2px solid #ff4dff;
}

.mu-read-more-btn:hover, .mu-read-more-btn:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}

.mu-post-btn:hover, .mu-post-btn:focus {
  background-color: #ff4dff;
  border-color: #47e8ff;
}

#mu-menu .navbar-header .navbar-brand i {
  color: #ff4dff;
}

#mu-menu .navbar-default .navbar-nav li > a:hover, #mu-menu .navbar-default .navbar-nav li > a:focus {
  border-color: #47e8ff;
  color: #47e8ff;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-top: 2px solid #47e8ff;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  background-color: transparent;
}
#mu-menu .navbar-default .navbar-nav .open a:hover, #mu-menu .navbar-default .navbar-nav .open a:focus {
  background-color: #ff4dff;
}

#mu-menu .navbar-default .navbar-nav > .active > a, #mu-menu .navbar-default .navbar-nav > .active > a:hover, #mu-menu .navbar-default .navbar-nav > .active > a:focus {
  color: #47e8ff;
  border-bottom: 2px solid #47e8ff;
  background-color: transparent;
}

#mu-slider .mu-slider-single .mu-slider-content span {
  background-color: #47e8ff;
}
#mu-slider .mu-slider-single .mu-slider-content h4, #mu-slider .mu-slider-single .mu-slider-content h2, #mu-slider .mu-slider-single .mu-slider-content p {
  color: #fcfcfc;
}
#mu-slider .slick-prev,
#mu-slider .slick-next {
  background-color: #ff4dff;
}
#mu-about-us .mu-about-us-area .mu-about-us-left p {
  color: #fcfcfc;
}
#mu-about-us .mu-about-us-area .mu-about-us-left ul li {
  color: #fcfcfc;
}
.mu-title h2{
  color: #fcfcfc;
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature span {
  color: #ff4dff;
  border: 1px solid #ff4dff;
}
#mu-features .mu-features-area .mu-features-content .mu-single-feature a:hover, #mu-features .mu-features-area .mu-features-content .mu-single-feature a:focus {
  color: #ff4dff;
  border-color: #ff4dff;
}

#mu-course-content {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-course-content .mu-course-content-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-course-container {
  display: inline;
  float: left;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-course-container .mu-latest-course-single {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
  color: #ff4dff;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading a:focus {
  color: #ff4dff;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud a:focus {
  color: #ff4dff;
  border-color: #ff4dff;
}

.mu-pagination .pagination li a:hover, .mu-pagination .pagination li a:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}
.mu-pagination .pagination .active a {
  background-color: #ff4dff;
  border-color: #ff4dff;
}

.mu-related-item {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}
.mu-related-item .mu-related-item-area #mu-related-item-slide .slick-prev,
.mu-related-item .mu-related-item-area #mu-related-item-slide .slick-next {
  background-color: #ff4dff;
}

.mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav li a:hover, .mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav li a:focus {
  color: #ff4dff;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a:hover, .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}

.mu-blog-single-navigation a:hover, .mu-blog-single-navigation a:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}

.mu-comments-area {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.mu-comments-area h3 {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}
.mu-comments-area .comments .commentlist li .reply-btn:hover, .mu-comments-area .comments .commentlist li .reply-btn:focus {
  background-color: #ff4dff;
  border-color: #ff4dff;
}
.mu-comments-area .comments .commentlist li .author-tag {
  background-color: #ff4dff;
}
.mu-comments-area .comments .comments-pagination li a:hover, .mu-comments-area .comments .comments-pagination li a:focus {
  color: #ff4dff;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="text"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="email"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="url"]:focus {
  border-color: #ff4dff;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform textarea:focus {
  border-color: #ff4dff;
}

#mu-error .mu-error-area h2 {
  color: #ff4dff;
}

#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:hover, #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:focus {
  color: #ff4dff;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"]:focus {
  border-color: #ff4dff;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form .mu-subscribe-btn {
  background-color: #ff4dff;
}

#mu-divider{
  background-color: #47e8ff;
}

/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
